

:root{
    --red: #F21D44;
    --purple: #553F73;
    --yellow: #F2CB05;
    --orange: #F2AE2E;
    --dark-orange: #D96704 ;
}
.characterContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.img-fluid{
    background-image: url("../img/backgroundCharacters.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.col-md-4 img{
    height: 300px;
    width: 100%;
}


.card-body{
    background-color: var(--purple);
    width:200px;
    height: 300px;
    display: flex;
    flex-direction: column;
}
.card-title{
    font-size: 20px;
}
.card-text{
    font-size: 10px;
    color: var(--yellow);
}
.card-text2{
    font-size: 15px;
    color: var(--dark-orange);
} 


