:root{
    --red: #F21D44;
    --purple: #553F73;
    --yellow: #F2CB05;
    --orange: #F2AE2E;
    --dark-orange: #D96704 ;
}
.characterContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.img-fluid rounded-start{
    width: 200px;
}
.card-mb-3{
    border-radius: 50px;
}


.card-body{
    background-color: var(--purple);
    
}
.card-title{
    color:var(--red);
    font-size: 40px;
    
}
.card-text{
    font-size: 20px;
    color: var(--yellow);
}
.card-subtitle{
    font-size: 25px;
    color: var(--dark-orange);
    
}


