@import url(characters.css);
@import url(planets.css);

:root{
    --red: #F21D44;
    --purple: #553F73;
    --yellow: #F2CB05;
    --orange: #F2AE2E;
    --dark-orange: #D96704 ;
}


body {
    background-color: var(--purple);
    background-repeat: repeat;
    background-size: cover;

}


header{
    display: flex;
    justify-content: center;

}

h1{
    font-size: 100px;
    color: var(--purple);
}


.characterButton {
    background-image: url(../img/backgroundCharacters.jpg);
    width: 50%;
    height: 200px;
    text-align: center;

}


footer{
    display: flex;
    justify-content: center;
}
footer p{
    font-size: 30px;
}
